.DS_Store
data/leapGestRecog
static/test.py
data/leapGestRecog.zip
data/archive.zip
data/archive
static/__pycache__
web/server/server/
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*.zip
data/*
