.DS_Store
data/leapGestRecog
static/test.py
data/leapGestRecog.zip
data/archive.zip
data/archive
static/__pycache__
web/server/server/
*/*/__pycache__
*/*/*/__pycache__
*/*/*/*/__pycache__
*/*/*/*/*/__pycache__
*.zip
data/*
dynamic/MiniIPN/*
*.pth
*.pyth
dynamic/cnn_lstm/*.log
dynamic/egogesture/*.log
dynamic/ipn/*.log
dynamic/kinetics/*.log
dynamic/timesformer/*.log
dynamic/__pycache__
static/*.npy
web/server/out.mp4 
web/server/temp_out.webm
web/server/video.txt
TimeSformer